<footer>
    <section>
        <div id="voice-recorder">
            <h4 style="text-align: center;">Voice Recorder</h4>
            <span>00:00</span>
            <div class="startStopButtons">
                <button id="btnStartPause">Start Recording</button>
                <button id="btnStopSave" disabled>Stop</button>
            </div>
            <audio id="audioPlayback" controls></audio>
        </div>
    </section>
</footer>