<header>
    <div id="playlist-controls">
        <button id="previousExerciseButton">Previous Document</button>
        <button id="shufflePlaylistButton">Shuffle Playlist</button>
        <button id="nextExerciseButton">Next Document</button>
    </div>
</header>